.container {
  position: fixed;
  width: 30%;
  top: 9%;
  left: 35%;
  background: red;
  border: 2px solid;
  border-radius: 10px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.text button {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.input-data {
  display: flex;
}

.input-data label {
  width: 20%;
}

.input-data input {
  width: 70%;
  border: 1px solid;
}
