.container {
  width: 100%;
  max-width: 1170px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.container .loading {
  display: flex;
}
.container .loading-progress {
  width: 20px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
