.content-header {
  background: linear-gradient(270deg, #64b3f4, #c2e59c);
}
.container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 2rem;
}
.container a {
  color: #35509a;
}
.studygroup-header {
  display: flex;
  margin-bottom: 1.5rem;
  padding-right: 0.75rem;
}
.studygroup-header-info {
  display: flex;
  flex-grow: 1;
}
.studygroup-header-image {
  margin-right: 1rem;
}
.studygroup-header-image img {
  height: 100px;
  width: 100px;
}
.studygroup-header-details {
  flex-grow: 1;
}
.studygroup-thumbnail {
  height: 100px;
  width: 100px;
}
.studygroup-header-title {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.studygroup-header-title h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.studygroup-header-btnwrap {
  width: 150px;
  min-width: 150px;
  display: flex;
  align-items: center;
}
.btn {
  font-weight: 500;
  border-radius: 25px;
  color: #1e2022;
  background-color: #e7eaf3;
  border-color: #bdc5d1;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}
