.btn-primary {
  background-color: rgb(53, 80, 154);
  color: #fff;
  font-weight: 500;
}
.input-group-append {
  align-items: center;
  display: flex;
}
.input-group {
  display: flex;
}

.input-group textarea {
  width: 100%;
}
.input-group-append button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  border: 1px solid;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-comment-input {
  margin: 0.6rem 0;
}
